body,
html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    width: 100%;
    height: 100%;
}
.sidebar{
    flex: 0 0 200px;
    background-color: #fdba74;
}
.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.list-item{
    margin: 12px;
    padding: 8px;
    align-self: stretch;
    background-color: #f1f5f9;
    box-shadow: 5px 5px 5px #e2e8f0;
}